body {
  background-color: #E8E8E8;
}

.wbdv-sticky-nav-bar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.wbdv-bg-blue {
    background-color: #4287f5;
}

.wbdv-bg-gray1 {
    background-color: #F0F0F0;
}

.wbdv-bg-gray2 {
    background-color: #E8E8E8;
}

.wbdv-font-size-25 {
    font-size: 25px;
}

.plus-icon1 {
	color: red;
}

.plus-icon2 {
	color: red;
	position: fixed;
	bottom:10px;
	right: 10px;
}

.wbdv-pad-80px {
    padding-top: 115px;
}

.wbdv-border-width-10 {
    border-style: solid;
    border-color: #D8D8D8;
    border-width: 1px;
}


